* {
	margin: 0;
	padding: 0;
}

.fullhd{
	background: black;
	width: 1920px;
	height: 1080px;
	transition: all 1200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.logo {
	padding-top:125px;
	width: 1020px;

	margin: auto;
}

.logo_img{
	width:90%;
}